/* ESTILOS GLOBALES */
html {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  flex-shrink: 0;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

footer {
  margin-top: auto;
  flex-shrink: 0;
}

.selector-for-some-widget {
  box-sizing: content-box;
}
.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
