.selector-for-some-widget {
  box-sizing: content-box;
}
.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}


/* PRIMER NAVAR (LOGO, EXPLORADOR, ACCEDER Y CARRITO */
.primer_nav {
    width: 100%;
    background-color: #272D40;
    padding: 12px 20px;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

/* Logo */
.logo img {
    height: 45px;
    width: auto;
}

/*Centro (barra de búsqueda) */
.nav-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

/*Botones del nav derecho */
.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-btn {
    padding: 8px 14px;
    background: #3C308C;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    border: none;
    display: inline-block;
    cursor: pointer;
}

.nav-btn:hover {
    background: #6A44F2;
}


/* BARRA EXPLORADORA */

/* Contenedor del buscador con imagen encima */
.barra_exploradora {
  position: relative;
  width: 100%;
  max-width: 500px; 
  display: flex;
  justify-content: center;
}

.barra_exploradora .nav-search {
  width: 100%;
  padding: 10px 18px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding-right: 45px;  /* Espacio para la lupa */
}

/* Botón con la imagen encima del input */
.search-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.search-btn img {
  width: 22px; 
  height: auto;
  opacity: 0.8;
}

.search-btn img:hover {
  opacity: 1;
}


/* SEGUNDO NAVAR (CATEGORIAS Y GESTION DE PRODUCTOS) */

.segundo_nav {
  width: 100%;
  background: transparent; /* Sin fondo */
  padding: 10px 0;

  display: flex;
  justify-content: center; /* Centrar completamente */
}

.segundo_nav ul {
  list-style: none;
  display: flex;
  gap: 40px; /* Separación entre opciones */
  margin: 0;
  padding: 0;
}

.segundo_nav li a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;

  color: #272D40; /* Color del texto */
  transition: 0.2s ease;
}

.segundo_nav li a:hover {
  color: #6A44F2; 
}

/* TABLA DE PRODUCTOS */

body{
  color: #000;
}
.form {
  width: 450px;
}
a{
  color: #000;
}

/* Tabla de productos */
.image-container {
  width: 100%;
  height: 260px; 
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border: 10px solid #ffffff;
}

