<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="site-footer">
  <div class="footer-container">

    <!-- Data fiscal -->
    <div class="footer-col">
      <img src="{{ url_for('static', filename='images/data_fiscal.png') }}" alt="Data fiscal">
    </div>

    <!-- Ayuda -->
    <div class="footer-col">
      <h4>Ayuda</h4>
      <a href="#">Botón de arrepentimiento</a>
      <a href="#">Términos y condiciones</a>
    </div>

    <!-- Redes -->
    <div class="footer-col">
      <h4>Seguinos en</h4>
      <div class="footer-redes">
        <a href="https://www.instagram.com/gsp_serviciotecnico/"><img src="{{ url_for('static', filename='images/instagram.png') }}"></a>
        <a href="https://www.facebook.com/people/GSP-Servicio-Tecnico/100075951730203/?mibextid=ZbWKwL"><img src="{{ url_for('static', filename='images/facebook.png') }}"></a>
        <a href="https://www.youtube.com/@GSPSERVICIOTECNICO"><img src="{{ url_for('static', filename='images/youtube.png') }}"></a>
        <a href="https://www.tiktok.com/@gsp_serviciotecnico"><img src="{{ url_for('static', filename='images/tiktok.png') }}"></a>
      </div>
    </div>

    <!-- Trabajo -->
    <div class="footer-col">
      <a href="#" class="footer-work">¡Trabajá con nosotros!</a>
    </div>

  </div>

  <div class="footer-bottom">
    <p>© 2025 Full Gaming. Todos los derechos reservados.</p>
  </div>
</footer>
</body>
</html>