<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FullGaming</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo_solo.png') }}">
    <!--Estilo CSS-->
    <link rel="stylesheet"  href="{{ url_for('static', filename='style.css') }}">
    <!-- Vinculacion con Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Scripts de Bootstrap y jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    {% include 'navbar.html' %} <!--incluye el navabar.html-->
    <H1>GESTIÓN DE PRODUCTOS</H1>
    <H2>Carga, Moficación y eliminación</H2>
    <a href="/formulario" class="btn btn-primary">Nuevo Producto</a></p>
</body>
</html>