<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FullGaming</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo_solo.png') }}">
    <link rel="stylesheet" href="style.css">
</head>
    <body>


        <header>

            <!-- NAV 1: Logo + Buscador + Acceder + Carrito -->
            <nav class="primer_nav">
                <div class="nav-wrapper">

                    <a class="logo" href="/">
                        <img src="/static/images/Logo.png" alt="Logo Full Gaming">
                    </a>
            <!--barra exploradora-->
            <div class="barra_exploradora">
            <form class="barra_exploradora" action="{{ url_for('buscar_productos') }}" method="get">
                <input 
                    type="text" 
                    name="q"                   
                    class="nav-search" 
                    placeholder="Buscar productos..."
                >
                <button class="search-btn" type="submit">
                    <img src="/static/images/lupa.png" alt="Buscar">
                </button>
            </form>
            </div>

            <div class="nav-right">
                        <!-- Botón Acceder con imagen -->
                        <a href="/acceso" class="nav-btn">
                            <img src="{{ url_for('static', filename='images/persona.png') }}" alt="Acceder" class="nav-btn-img">
                            <span>Acceder</span>
                        </a>
                        <!-- Botón Carrito con imagen -->
                        <a href="/carrito" class="nav-btn">
                            <img src="{{ url_for('static', filename='images/carrito.png') }}" alt="Carrito" class="nav-btn-img">
                            <span>Carrito</span>
                        </a>
                    </div>

                </div>
            </nav>


            <!-- NAV 2: Categorías -->
            <nav class="segundo_nav">
                <ul>
                    <li><a href="/gestion_productos">Gestión de productos</a></li>
                    <li><a href="/Teclados">Teclados</a></li>
                    <li><a href="/Mouse">Mouse</a></li>
                    <li><a href="/Audio">Audio</a></li>
                    <li><a href="/Otros">Otros</a></li>
                </ul>
            </nav>

        </header>
    </body>
</html>